.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease 0s;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  position: relative;
  padding: 50px;
  width: 60%;
  max-width: 750px;
  /* min-height: 60%; */
  background-color: #202020;
  display: grid;
  grid-template-columns: 430px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "media data"
    "description description"
}

.popup__media {
  grid-area: media;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

.popup__poster {
  margin: 0;
  padding: 0;
  width: 364px;
  height: 203px;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.popup__button {
  margin: 20px 0;
  padding: 0;
  border-radius: 48px;
  background-color: #bfccc5;
  width: 111px;
  height: 34px;
  background-repeat: no-repeat;
  background-position: bottom 50% right 50%;
  border: #FFFFFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup__data {
  grid-area: data;
  display: flex;
  flex-direction: column;
}

.popup__title {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: -0.88px;
}

.popup__subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
}

.popup__link {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  color: #8B8B8B;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.popup__text {
  margin: 0;
  padding: 0;
  padding-bottom: 7px;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.popup__text_bold {
  font-weight: bold;
}

.popup__text_span {
  color: #8B8B8B;
}

.poup__description {
  grid-area: description;
  text-align: justify;
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}


.popup__close-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-image: url(../../images/Popup-Close-Button.svg);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: -40px;
  top: -40px;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1100px) {
  .popup__container {
    display: flex;
    flex-direction: column;
  }
}